<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<style>
.w3-lobster {
  font-family: "Lobster", serif;
}
</style>
<header class="header">
    <!-- Main Navbar-->
    <nav class="navbar navbar-expand-lg">
      <div class="search-area">
        <div class="search-area-inner d-flex align-items-center justify-content-center">
          <div class="close-btn"><i class="icon-close"></i></div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-8">
              <form action="{% url 'search' %}">
                <div class="form-group">
                  <input type="search" name="q" id="search" placeholder="What are you looking for?">
                  <button type="submit" class="submit"><i class="icon-search-1"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <!-- Navbar Brand -->
        <div class="navbar-header d-flex align-items-center justify-content-between">
          <div class="w3-container w3-lobster">
            <p class="w3-xxlarge" class='tab'>Blog Website &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <!-- Navbar Brand -->
          <!-- Toggle Button-->
          <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
        </div>
        <!-- Navbar Menu -->
        <div id="navbarcollapse" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/" class="nav-link ">Home</a>
            </li>
            <li class="nav-item"><a href="/blog" class="nav-link active ">Blog</a>
            </li>
            <div class="dropdown">
              <button class="dropbtn">Categories</button>
              <div class="dropdown-content">
                {% for cat in category %}
                <a href="{% url 'category' pk=cat.pk %}">{{cat}}</a>
                {% endfor %}
              </div>
            </div>
            {% if request.user.is_authenticated %}
              {% if user.author.pk == request.user.pk %}
                <li class="nav-item"><a href="{%url 'post-create' %}" class="nav-link ">Create Post</a>
                </li>
              {% endif %}
            <li class="nav-item"><a href="{%url 'account_logout' %}" class="nav-link ">Log Out</a>
            <li class="nav-item"><a href="/profile" class="nav-link ">{{ user.get_provider }} {{ user }}</a>
            </li>
            {% else %}
            <li class="nav-item"><a href="{%url 'account_login' %}" class="nav-link ">Login</a>
            </li>
            {% endif %}
            <li class="nav-item"><a href="/contact"  class="nav-link ">Contact</a>
            </li>
          </ul>
          <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
         <!-- <ul class="langs navbar-text"><a href="#" class="active">EN</a><span>           </span><a href="#">ES</a></ul> -->
        </div>
      </div>
    </nav>
</header>